* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

input,
button {
  outline: none;
}

button {
  cursor: pointer;
}
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

.auth-box {
  width: 400px;
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
}

.auth-box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #38bdf8;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  border-radius: 8px;
}

.auth-box p {
  margin-top: 15px;
  text-align: center;
}

.auth-box a {
  color: #38bdf8;
}